body {
  position: relative;
}

h1 {
  font-family: Georgia, serif;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

#hero {
  background-color: #eee;
  background-image: url(../img/hero_bg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 427px;
  padding-top: 32px;
}

.hero-content {
  color: #fff;
  max-width: 560px;
  text-align: center;
}

.hero-text {
  font-size: 18px;
}

.navbar-custom {
  background-color: transparent;
  position: absolute;
  width: 100%;
  margin-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
}

.navbar-brand {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.logo-design {
  color: #fdecca;
  font-weight: normal;
}

.navbar-expand {
  justify-content: space-between;
}

#bootstrapOverride .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin: 0 15px;
}

#bootstrapOverride .nav-link:hover {
  color: #fdecca;
}

#bootstrapOverride .nav-item.active > .nav-link {
  color: #fdecca;
}

#caseStudyFilter {
  position: absolute;
  z-index: 100;
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 519px;
  left: 50%;
  transform: translate(-50%, 0);
}

.selector {

}

.selector-btn {
  background-color: #696579;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 60px;
  height: 60px;
  width: 173px;
  cursor: pointer;
}

.selector-btn.active {
  background-color: #fdecca;
  font-weight: bold;
  color: #696579;
}

.selector-btn:hover {
  background-color: #fdecca;
  font-weight: bold;
  color: #696579;
}

#showcase {
  background-image: linear-gradient(#edf0f5, #fff);
  position: absolute;
  max-width: 100vw;
  padding-top: 100px;
  padding-bottom: 60px;
}

.case-study-box {
  background-color: #fff;
  border-radius: 3px;
  color: #696579;
  height: 280px;
  min-width: 330px;
  margin: 20px;
  padding-top: 90px;
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.case-study-box:hover {
  border-top: 3px solid #d83a6a;
  position: relative;
  transform: translate(0, -12px);
  padding-top: 40px;
}

.case-study-box:hover .case-study-title {
  color: #caa97d;
}

.case-study-box:hover .case-study-subtext {
  color: #1d314c;
  font-weight: bold;
}

.case-study-box:hover .view-case-study-btn {
  opacity: 1;
  margin-top: 40px;
}

.case-study-title {
  color: #aaaeb6;
  font-size: 30px;
  line-height: 40px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.case-study-subtext {
  color: #696579;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.view-case-study-btn {
  background-color: #696579;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  height: 57px;
  width: 278px;
  border-radius: 1px;
  text-align: center;
  border: none;
  display: table;
  margin: 0 auto;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  cursor: pointer;
}
